@media (max-width: 767px) {
  .navbar {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }

  .relative img {
    width: auto;
  }

  .navbar img {
    width: 50%;
  }

  .navbar button {
    margin-left: 10px;
  }
}



